/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
#chat-window {
    overflow-y: auto; /* Enable vertical scrolling */
    /* Set the height of the chat window */
    scrollbar-width: none; /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar in IE/Edge */
  }
  
  /* Hide the scrollbar in Chrome/Safari */
  #chat-window::-webkit-scrollbar {
    display: none;
  }
